name: Update data v3

on:
  # push:
  #   branches:
  #     - main
  #     - master
  workflow_dispatch:
  schedule:
    - cron: '02,17,32,47 6-21 * * *'
    - cron: '02 22,00,02,04 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - uses: actions/cache@v2
        name: Configure pip caching
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            
      - name: Install Python dependencies
        run: |
          pip install -r v3/requirements.txt
      
      - name: Update data 
        run: python v3/update.py
        env:
          TIPSPORT_USER: ${{ secrets.TIPSPORT_USER }}
          TIPSPORT_PASSWORD: ${{ secrets.TIPSPORT_PASSWORD }}
          TIPSPORT_PRODUCTID: ${{ secrets.TIPSPORT_PRODUCTID }}
          PROXY_SERVERS: ${{ secrets.PROXY_SERVERS }}

      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date +%FT%T%z)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
